/* Reset */
* {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}


/* Geral */
body {
    padding-bottom: 500px;
}

h1 {
    margin-top: 1.6rem;
}

h1, h2 {
    margin-bottom: 1.6rem;
    text-align: center;
    color: #333333;
}

#box-shadow-generator {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

#controls-container, #preview {
    flex: 1;
    padding: 2rem;
}


/* Controles */
.form-control {
    display: flex;
    padding-bottom: 1.2rem;
    margin-bottom: 1.2rem;
    border-bottom: 1px dashed #cccccc;

}

.form-control label {
    font-weight: bold;
    margin-bottom: 1rem;
    color: #555555;
}

.range-input {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.range-input input[type="range"],
.range-input input[type="range"]::-webkit-slider-thumb {
    appearance: none;
}

.range-input input[type="range"] {
    width: 1005;
    height: 24px;
    background-color: #d3d3d3;
    outline: none;
    border-radius: 20px;
}

.range-input input[type="range"]::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    background-color: #0a63e9;
    cursor: pointer;
    border-radius: 20px;
}

.ref-input {
    display: flex;
    align-items: center;
}

.ref-input p {
    margin-left: 4px;
}

.form-control input[type="number"] {
    height: 30px;
    width: 45px;
    margin-left: 1rem;
    text-align: center;
}

#color-input {
    min-width: 100px;
}

#inset {
    align-self: flex-start;
    height: 20px;
    width: 20px;
}


/* Preview */
#box {
    width: 100%;
    height: 300px;
    background-color: #0a63e9;
}


/* Área de Geração */
#css-rule {
    text-align: center;
}

#css-rule p {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#rules-area {
    background-color: #d3d3d3;
    max-width: 1000px;
    margin: 0 auto;
    border: 2px solid #0a63e9;
    transition: 0.4s;
    cursor: pointer;
}

#rules-area:hover {
    background-color: #dfdfdf;
}

#copy {
    font-style: italic;
}


/* Responsividade */
@media(max-width: 425px){
    #box-shadow-generator {
        flex-direction: column;
    }
   
    #controls-container,
    #preview {
        padding: 1rem 2rem;
    }

    #box {
        width: 60%;
        height: 200px;
        margin: 0 auto;
    }

    #css-rule {
        margin-top: 2rem;
    }
   
}